/* Menus ––––––––––––––––––––––––––––––– */
.menu-permanente {
  display: flex;
  align-items: center;
  gap: 5px;
  box-shadow: rgba(0, 0, 0, 0.15) 0px 0px 2px 1px;
  padding: 0.6rem;

  &__titulo {
    user-select: none;
    font-size: 2.6rem;
  }

  &__btn-menu {
    border: none;
    background-color: white;
    user-select: none;
    padding: 0 0;
    transition: transform 250ms ease-in;
  }

  &__btn-menu:hover {
    color: hsl(180, 2%, 27%);
    transform: scale(1.1);
  }
}

.menu-flutuante {
  position: fixed;
  width: 70%;
  max-width: 300px;
  height: 100vh;
  background-color: #fff;
  box-shadow: rgba(0, 0, 0, 0.15) 0px 0px 2px 1px;
  top: 0;
  left: -100%;
  transition: 450ms;

  &__btn-fechar {
    border: none;
    padding: 0;
    background-color: white;
    user-select: none;
    position: absolute;
    right: 0;
  }

  &__link {
    width: 100%;
    display: flex;
  }

  &__item {
    border-bottom: 1px solid #bbb;
    display: flex;
    align-items: flex-end;
    cursor: pointer;
    margin-bottom: 3px;

    &:hover {
      background-color: #66666618;
    }
  }

  &__img {
    max-width: 75px;
    vertical-align: middle;
  }

  &__texto {
    margin-left: 0.4rem;
    user-select: none;
    flex: 1;
    align-self: flex-end;
  }
}

.isactive {
  left: 0;
  transition: 250ms;
}

@media (min-width: 1800px) {
  .menu-permanente {
    &__titulo {
      font-size: 4rem;
    }
  }
  .menu-flutuante {
    max-width: 350px;

    &__texto {
      font-size: 2.2rem;
    }
  }
}
