.center-card {
  width: 90%;
  min-width: 350px;
  max-width: 1024px;
  margin: 0 auto;
  padding: 2rem 2rem;
  box-shadow: rgba(0, 0, 0, 0.15) 0px 0px 3px 1px;

  &__title {
    text-align: center;
    font-weight: lighter;
    margin-bottom: 1rem;
  }

  &__question-title {
    padding-bottom: 0.8rem;
  }

  &__answer {
    margin-top: 1rem;
    padding: 0.5rem;
    min-height: 300px;
    line-height: 1.5rem;
    border: 1px solid #d1d1d1;
    border-radius: 4px;
    user-select: none;
  }

  &__footer {
    padding: 0.6rem;
    text-align: center;
  }
}

@media (min-width: 1100px) {
  .center-card {
    &__answer {
      min-height: 50vh;
    }
  }
}
