.general-card {
  width: 90%;
  margin: 0 auto;
  padding: 1.5rem 1rem;
  box-shadow: rgba(0, 0, 0, 0.15) 0px 0px 3px 1px;

  > h1 {
    text-align: center;
    font-weight: lighter;
    margin-bottom: 1rem;
  }

  > form {
    display: flex;
    flex-direction: column;

    > input {
      width: 100%;
      margin: 10px auto;
    }
  }

  > .container-resposta {
    border: 1px solid #d1d1d1;
    border-radius: 4px;
    padding: 1rem 0.5rem 45%;
    line-height: 1.5rem;
  }

  footer {
    padding: 0.6rem;
    text-align: center;
  }
}
