.center-card {
  width: 90%;
  max-width: 750px;
  margin: 0 auto;
  padding: 1.5rem 1rem;
  box-shadow: rgba(0, 0, 0, 0.15) 0px 0px 3px 1px;

  &__title {
    text-align: center;
    font-weight: lighter;
    margin-bottom: 1rem;
  }

  &__question-title{
    padding-bottom: .8rem;
  }

  &__form {
    display: flex;
    flex-direction: column;
    gap: 1rem;

  }
  
  &__input {
      width: 100%;
      margin: 10px auto;
    }

  &__answer{
    border: 1px solid #d1d1d1;
    border-radius: 4px;
    line-height: 1.5rem;
    min-height: 300px;
    padding: .5rem;
    margin-top: 1rem;
    user-select: none;
  }

  &__footer {
    padding: 0.6rem;
    text-align: center;
  }
}
