.App {
  min-height: 100vh;
  display: grid;
  grid-template-rows: auto 1fr auto;
  grid-template-areas:
    'header'
    'main'
    'footer';
}

header {
  box-shadow: rgba(0, 0, 0, 0.15) 0px 0px 2px 1px;
  grid-area: header;
  padding: 0.6rem;
  display: flex;
  align-items: center;

  .menu-icon {
    margin-right: 1rem;
  }

  h1 {
    flex: 1;
  }
}

main {
  grid-area: main;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  > .card {
    width: 90%;
    min-height: 50%;
    padding: 1.5rem 1rem;
    box-shadow: rgba(0, 0, 0, 0.15) 0px 0px 3px 1px;
    > h1 {
      text-align: center;
      font-weight: lighter;
      margin-bottom: 1rem;
    }

    > form {
      display: flex;
      flex-direction: column;

      > input {
        width: 100%;
        margin: 10px auto;
      }
    }

    > .container-resposta {
      border: 1px solid #d1d1d1;
      border-radius: 4px;
      padding: 1rem 0.5rem 45%;
      line-height: 1.5rem;
    }
  }
}

footer {
  grid-area: footer;
  font-size: 1.2rem;
  padding: 0.6rem;
  text-align: center;
}


/* Forms
–––––––––––––––––––––––––––––––––––––––––––––––––– */

input[type='text']{
  height: 38px;
  padding: 6px 10px; /* The 6px vertically centers text on FF, ignored by Webkit */
  background-color: #fff;
  border: 1px solid #d1d1d1;
  border-radius: 4px;
  box-shadow: none;
  box-sizing: border-box;
}

textarea {
  min-height: 65px;
  padding-top: 6px;
  padding-bottom: 6px;
}
input[type='email']:focus,
input[type='number']:focus,
input[type='search']:focus,
input[type='text']:focus,
input[type='tel']:focus,
input[type='url']:focus,
input[type='password']:focus,
textarea:focus,
select:focus {
  border: 1px solid #33c3f0;
  outline: 0;
}
label,
legend {
  display: block;
  margin-bottom: 0.5rem;
  font-weight: 600;
}
fieldset {
  padding: 0;
  border-width: 0;
}
input[type='checkbox'],
input[type='radio'] {
  display: inline;
}
label > .label-body {
  display: inline-block;
  margin-left: 0.5rem;
  font-weight: normal;
}

button,
input[type='submit'] {
  display: inline-block;
  height: 38px;
  padding: 0 30px;
  color: #33c3f0;
  text-align: center;
  font-size: 11px;
  font-weight: 600;
  line-height: 38px;
  letter-spacing: 0.1rem;
  text-transform: uppercase;
  text-decoration: none;
  white-space: nowrap;
  background-color: transparent;
  border-radius: 4px;
  border: 1px solid #bbb;
  cursor: pointer;
  box-sizing: border-box;
  color: #fff;
  background-color: #33c3f0;
  border-color: #33c3f0;

  &:hover {
    color: #fff;
    background-color: #1eaedb;
    border-color: #1eaedb;
  }
}
